@{
    ViewData["Title"] = "Home Page";
}
<section id="home">
    <div class="container-fluid px-0 top-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <h1>Conheça as melhores comidas na Foodies</h1>
                    <p>
                        Nós acertamnos na qualidade, preço e carinho. Venha conhecer os pratos que só a Foodie pode oferecer!
                    </p>
                    <div class="mt-4">
                        <button class="main-btn"> Compre Agora<i class="fas fa-shopping-basket ps-3"></i></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="counter">
    <div class="counter-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h2>
                        <span id="count1"></span>+
                    </h2>
                    <p>FAVORITOS</p>
                </div>

                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h2>
                        <span id="count2"></span>+
                    </h2>
                    <p>COMENTÁRIOS</p>
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h2>
                        <span id="count3"></span>+
                    </h2>
                    <p>ENTREGAS</p>
                </div>
                <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                    <h2>
                        <span id="count4"></span>+
                    </h2>
                    <p>CLIENTES</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="about-section wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-lg-7 col-md-7 mb-lg-0 mb-5">
                    <div class="card border-0">
                        <img src="images/img/img-1.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 text-sec">
                    <h2>Nossos ingredientes são separados especialmente para você</h2>
                    <p>A qualidade dos nossos pratos vem do intenso carinho que cada chef deposita no processo de confecção dos alimentos que oferecemos. Ficou curioso sobre a qualidade do nosso serviço?</p>
                    <button class="main-btn mt-4">Saiba mais</button>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="explore-food">
    <div class="explore-food wrapper">
        <div class="container">
            <div class="row">
                <div classs="col-sm-12">
                    <div class="text-content text-center">
                        <h2>Explore nosso Cardápio</h2>
                        <p>A variedadede pratos é o nosso diferencial. Não se preocupe com o dia e nem a hora, a culinária vai do oriente ao ocidente.</p>
                        <button class="white-btn p-2">Ver mais</button>
                    </div>
                </div>
                <div class="row pt-5">

                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="../images/img/img-3.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Sanduiche Vegetariano</h4>
                                <p>Time: 15 - 20 minutes | Serves: 1</p>
                                <span> $10.50 </span>
                                <button class="mt-4 main-btn">Comprar</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="images/img/img-5.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Torta de Morango</h4>
                                <p>Time: 15 - 20 minutes | Serves: 1</p>
                                <span> $11.50 </span>
                                <button class="mt-4 main-btn">Comprar</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                        <div class="card">
                            <img src="images/img/img-4.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Sanduiche Vegetariano</h4>
                                <p>Time: 15 - 20 minutes | Serves: 1</p>
                                <span> $10.50 </span>
                                <button class="mt-4 main-btn">Comprar</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

